.nav-link {
    color: #1f1e2e !important;
    border-bottom: 1px solid transprant;
}

.nav-link:hover {
    border-bottom: 3px solid blue;
}

hr.solid {
    border-top: 3px solid #bbb;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

a {
    color: black;
}

a:active {
    color: blue;
}

.col {
    height: 50%;
}

.footer {
    padding: 30px;
}